/* fonts */
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* colors */
/* basic settings */
html {
  font-size: 10px;
}
body {
  font-family: ProximaNova_Rg, sans-serif;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.buttn {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #ffb504;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.buttn:hover {
  background-color: #eaa500;
}
.btn-small-screen {
  display: none;
}
/* typography */
section {
  padding: 10rem 0;
}
/* main */
.main {
  padding: 3rem 0.5rem;
  background: #ffffff url(../img/background_main.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  font-family: 'ProximaNova_Bold', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 1.45;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 2.4rem;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background-color: #49bf15;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-form {
  display: block;
  padding: 4rem 5rem;
  background-color: white;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 1.7rem;
}
.main-form-header strong {
  font-size: 1.8rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
}
.main-form-btn {
  font-size: 1.6rem;
}
.main-form-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: white;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.main-comment {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 1.2rem;
  text-align: left;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/*Секция приемущества*/
.features {
  text-align: center;
}
.features h2 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3.6rem;
}
.features h3 {
  margin-top: 6.3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2rem;
}
.features p {
  margin-top: 3.5rem;
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 1.5rem;
}
.features-block {
  vertical-align: text-top;
  margin-top: 13rem;
  /* display:inline-block; */
  /* width:274px; */
}
.features-block img {
  display: block;
  margin: 0 auto;
}
.features .slick-active {
  outline: none;
}
.features-btn {
  position: absolute;
  top: 50%;
  transform: scaleY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.features .prev {
  background: url(../img/left-arrow.svg) center no-repeat;
  left: 10%;
}
.features .next {
  background: url(../img/right-arrow.svg) center no-repeat;
  right: 10%;
}
/* Секция с ценами */
.prices {
  background: #49bf15 url(../img/prices-bg.jpg) center;
  text-align: center;
  padding-top: 12rem;
}
.prices-header {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3.6rem;
  color: white;
}
.prices h3 {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 1.4rem;
  color: white;
  margin-top: 2rem;
}
.prices-header-btn {
  text-align: right;
  margin-top: 0.4rem;
}
.prices-header-btn .buttn {
  padding: 2rem 1rem;
}
.prices-box {
  margin-top: 4rem;
  background-color: white;
  padding: 2rem 3rem;
  text-align: center;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  min-height: 60rem;
}
.prices-box img {
  width: 100%;
  max-width: 30rem;
}
.prices-box .price-header {
  font-family: 'ProximaNova_Bold', sans-serif;
  color: black;
  font-size: 1.9rem;
  margin-bottom: 3rem;
}
.prices-box p {
  margin-top: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.9rem;
}
.prices-box p span {
  font-size: 3rem;
}
.prices-box ul {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
  min-height: 14rem;
  list-style: none;
  text-align: center;
  padding: 0;
}
.prices-box ul li:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  background: url(../img/price-checked.svg) center no-repeat;
  background-size: 100%;
  margin-right: 1rem;
}
/*Адаптивность*/
@media (max-width: 991px) {
  .phone {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-comment {
    margin-top: 2rem;
  }
  .prices-header-btn {
    text-align: center;
    padding-top: 2rem;
  }
}
@media (max-width: 767px) {
  .header {
    height: auto;
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .phone {
    order: 1;
    text-align: left;
  }
  .phone-link {
    font-size: 1.4rem;
  }
  .button-block {
    order: 2;
  }
  .button-block .btn-big-screen {
    display: none;
  }
  .button-block .btn-small-screen {
    font-size: 1.2rem;
    display: block;
  }
  .logo {
    order: 3;
    margin-top: 2rem;
  }
  .main {
    background: #ffffff url(../img/main-bgk-small-scr.jpg) center center no-repeat;
    background-size: cover;
    background-position: top 7.5rem right 0;
    padding: 0;
  }
  .main-title h1 {
    font-size: 2.2rem;
  }
  .main-subtitle {
    font-size: 1.8rem;
  }
  .main-trigger {
    font-size: 1.9rem;
  }
  .main-comment {
    text-align: center;
  }
  /* секция приемущества на маленьких экранах */
  .features h2 {
    font-size: 2.4rem;
  }
  .features h3 {
    font-size: 2rem;
  }
  .features p {
    font-size: 1.6rem;
  }
}
/* Всплывающие окна */
/* получить консультацию */
.main-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.main-popup-close {
  position: fixed;
  right: -2rem;
  top: -1.6rem;
  color: white;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 900;
  width: 2rem;
  text-align: center;
  border: none;
}
.main-popup-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background: white;
  padding: 3rem;
}
.main-popup-content h2 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.8rem;
}
.main-popup-content p {
  font-family: ProximaNova_Rg, sans-serif;
  font-size: 1.8rem;
}
